
#Featured_candidates{
    width: 44%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid rgb(229, 228, 228);
    border-radius: 10px;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.featured_candidates_left{
    display: flex;
    gap: 20px;
    /* flex-wrap:wrap ; */
}
.candidate_photo{
  width: 80px;
  height: 80px;
}
.candidate_photo img
{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.candidate_content_hld{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.candidate_content_hld p{
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
}
.profile_btn{
    background-color: #1967D2;
    padding: 15px 40px;
    color: #fff;
    border-radius: 10px;
    height: 20px;
    font-size: 12px;
    
}
.profile_btn:hover{
    background-color: #1b52a0;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    #Featured_candidates{
        width: 100%;
    }
}
 @media screen and (max-width:600px){
    #Featured_candidates{
       justify-content: center;
    }
    .featured_candidates_left{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .candidate_content_hld{
        justify-content: center;
        align-items: center;
    }
 }